<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alternateIsAlternate</key>
	<true/>
	<key>alternateParent</key>
	<string>free</string>
	<key>onlyOnSsid</key>
	<string>freephonie</string>
	<key>noOtherConfigOnThisSsid</key>
	<true/>
	<key>name</key>
	<string>free over freephonie wifi</string>
	<key>providerName</key>
	<string>free</string>
	<key>sipDomain</key>
	<string>172.17.20.241</string>
	<key>sipProxy</key>
	<string>sip:172.17.20.241</string>
</dict>
</plist>
