<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alternateIsAlternate</key>
	<false/>
	<key>alternateSelection</key>
	<string>wifiName</string>
	<key>alternateSetting</key>
	<string>freephonie</string>
	<key>alternateValue</key>
	<string>freephonie</string>
	<key>guiAccountHint</key>
	<string>Your 09 5x xx xx xx  phone number   (not the France Telecom number)</string>
	<key>guiAccountIsPhone</key>
	<true/>
	<key>guiPasswordHint</key>
	<string>Your SIP account password   (not your main free account)</string>
	<key>name</key>
	<string>free</string>
	<key>sipDomain</key>
	<string>freephonie.net</string>
	<key>sipFrom</key>
	<string>sip:%@@freephonie.net</string>
	<key>sipProxy</key>
	<string>sip:freephonie.net</string>
</dict>
</plist>
