<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alternateIsAlternate</key>
	<false/>
	<key>guiAccountHint</key>
	<string>InPhonex 7 digits number</string>
	<key>guiAccountIsPhone</key>
	<true/>
	<key>guiPasswordHint</key>
	<string>InPhonex password</string>
	<key>name</key>
	<string>InPhonex  (untested)</string>
	<key>sipDomain</key>
	<string>sip.inphonex.com</string>
	<key>sipFrom</key>
	<string>sip:%@@sip.inphonex.com</string>
	<key>sipProxy</key>
	<string>sip:sip.inphonex.com</string>
	<key>sipRegistrationDuration</key>
	<integer>300</integer>
	<key>urlImage</key>
	<string>http://www.inphonex.com/images/inphonexlogo.gif</string>
	<key>urlMain</key>
	<string>http://www.inphonex.com/</string>
</dict>
</plist>
