<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alternateIsAlternate</key>
	<false/>
	<key>guiAccountHint</key>
	<string></string>
	<key>guiAccountIsPhone</key>
	<false/>
	<key>guiPasswordHint</key>
	<string></string>
	<key>name</key>
	<string>keyyo</string>
	<key>sipDomain</key>
	<string>keyyo.net</string>
	<key>sipFrom</key>
	<string>sip:%@@keyyo.net</string>
	<key>sipProxy</key>
	<string>sip:keyyo.net</string>
	<key>sipRegistrationDuration</key>
	<integer>1800</integer>
	<key>urlImage</key>
	<string>http://www.keyyo.fr/fr/images_fr/logo_keyyo.gif</string>
	<key>urlMain</key>
	<string>http://www.keyyo.fr</string>
</dict>
</plist>
