<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alternateIsAlternate</key>
	<false/>
	<key>guiAccountHint</key>
	<string></string>
	<key>guiAccountIsPhone</key>
	<false/>
	<key>guiPasswordHint</key>
	<string></string>
	<key>name</key>
	<string>Freecall (voiparround)</string>
	<key>sipDomain</key>
	<string>sip.voiparound.com</string>
	<key>sipFrom</key>
	<string>sip:%@@sip.voiparound.com</string>
	<key>sipProxy</key>
	<string>sip:sip.voiparound.com</string>
	<key>sipRegistrationDuration</key>
	<integer>55</integer>
	<key>urlImage</key>
	<string>http://www.freecall.com/images/header_01.jpg</string>
	<key>urlMain</key>
	<string>http://www.freecall.com</string>
</dict>
</plist>
