<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alternateIsAlternate</key>
	<false/>
	<key>guiAccountHint</key>
	<string></string>
	<key>guiAccountIsPhone</key>
	<false/>
	<key>guiPasswordHint</key>
	<string></string>
	<key>name</key>
	<string>Wengo/Neuf</string>
	<key>sipDomain</key>
	<string>voip.wengo.fr</string>
	<key>sipFrom</key>
	<string>sip:%@@voip.wengo.fr</string>
	<key>sipProxy</key>
	<string>sip:voip.wengo.fr</string>
	<key>sipRegistrationDuration</key>
	<integer>55</integer>
	<key>urlImage</key>
	<string>http://www.openwengo.org/static/eng_eng/images/elements/spiralewengo.gif</string>
	<key>urlMain</key>
	<string>http://www.wengophone.fr/index.php</string>
</dict>
</plist>
